.wrap {
    background-color: #DECAFE;
    min-height: 100vh;
    padding-bottom: 50px;
}

.banner {
    width: 100%;
    height: 200px;

    background-color: #7A4B95;
    background-image: url("logo_red.png");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 10px;
}

span.example {
    color: gray;
    font-size: 14px;
}

.btn-sparta {
    color: white;
    background-color: #346de8;
    border-color: #346de8 1px solid;
}

.btn-sparta-outline {
    color: #346de8;
    background-color: transparent;
    background-image: none;
    border: #346de8 1px solid;
}

#btn-delete {
    background-color: #e72c45;
    border-color: #e72c45;
}

.search-box {
    width: 70%;
    margin: 50px auto;
    max-width: 700px;
}

.table {
    width: 80%;
    max-width: 800px;
    margin: auto;
    table-layout: fixed;
}

.table th {
    border-top-style: none;
}

th {
    background-color: #D8BCE8 !important;
}
  
tr {
    background-color: #E8E8E8;
}
  

td {
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td > a, a:visited, a:hover, a:active {
    color: black;
}

thead:first-child tr:first-child th:first-child {
    border-radius: 5px 0 0 0;
}

thead:first-child tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
}

tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

#tabel {
    background-color: #9BDFE4;
}

tr.highlight > td {
    background-color: orange;
    color: white;
}

tr.highlight a {
    color: white;
}

.delete_button {
    text-decoration: none;
    color: #f07c8c;
    background-color: transparent;
}

.delete_button:hover {
    text-decoration: underline;
    color: #e72c45;
    background-color: transparent;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}